<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
  <div class="container">
    <h1>Welcome to your <strong>movie list</strong></h1>
    <p>Simply create your list.</p>
    <%= link_to 'Create a list', new_list_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="cards mt-4 ml-5 mr-5">
  <% @lists.each do |item| %>
    <%= link_to list_path(item) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= item.photo.attached? ? (cl_image_path item.photo.key, height: 180, crop: :fill) : 'https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80' %>')">
        <div class="text-light">
          <%= item.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
